$color-backround-01: #edf1f3;
$color-backround-02: #ffffff;
$color-hero-bg: #f2f5f5;
$primary-text: #472704;

.page__container {
	width: 100%;
	height: auto;

	padding-bottom: 160rem;
}

.hero__container {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	position: relative;
	overflow: hidden;
	background: $color-hero-bg;
}

.hero__slogan {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		margin-bottom: 200px;
		font-weight: 300;
	}
}

.hero__image {
	max-width: 100%;
	object-fit: cover;
	position: center;
	opacity: 0.5;
}

.featured__grid {
	background-color: $color-backround-01;
	padding: 4rem;
}

.featured__post {
	padding: 2rem;
	background-color: $color-backround-02;
	border-radius: 1rem;
	max-width: 600px;
}

.romb_temp {
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: repeat(3, 120px);
	gap: 6px;
	transform: rotate(45deg);
}
.romb_inner {
	border-radius: 8px;
	width: 120px;
	height: 120px;
	cursor: pointer;
	background-color: #dc934423;

	&:hover {
		background-color: #dc934442;
	}
}
