$color-primary-400: #1557bf;
$color-primary-600: #114393;
$color-primary-800: #081f45;
$color-primary-text: #0a234b;
$color-primary-900: #05152e;
$color-secondary-200: #fc990e;
$color-secondary-400: #cf7e0c;
$color-error-text: #e02e06;
$color-save: #4ebb49;
$color-grey-100: #edf0f6;
$color-grey-200: #cad0db;
$color-grey-300: #b2bbcb;
$color-grey-400: #9aa3b1;
$color-grey-500: #7a828d;
$color-grey-600: #4f5b70;

.logo_image {
	margin-top: 4px;
}
.nav_item {
	color: $color-primary-text;
}
.nav_item__active {
	color: $color-secondary-400;
}
