$color-primary-400: #1557bf;
$color-primary-600: #114393;
$color-primary-800: #081f45;
$color-primary-900: #05152e;
$color-secondary-200: #fc990e;
$color-secondary-400: #cf7e0c;
$color-error-text: #e02e06;
$color-grey-100: #f9fbff;
$color-grey-200: #cad0db;
$color-grey-300: #b2bbcb;
$color-grey-600: #4f5b70;

.editor_toggle,
.editor_toggle_active {
	color: $color-grey-300;
	border: 2px solid $color-grey-300;
	padding: 0.5rem;
	padding-bottom: 0;
	border-radius: 6px;
	width: min-content;
	cursor: pointer;

	&:hover {
		border-color: $color-primary-600;
		color: $color-primary-600;
	}
	& > * {
		color: inherit;
	}
}
.editor_toggle_active {
	color: white;
	border: 2px solid $color-primary-600;
	background-color: $color-primary-600;

	& > * {
		color: inherit;
	}
	&:hover {
		color: white;
	}
}

.editor_toolbar_container {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-end;
	padding-block: 6px;
	margin-block: 6px;
	gap: 6px;
	flex-wrap: wrap;
	// border: 1px solid lightgrey;
}
.editor_layout {
	display: grid;
	grid-template-columns: 1fr 56px;
	color: $color-primary-800;
}
.editor_toolbar_container {
	height: 100%; /* Example height for scrolling */
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-block: 0;
	padding-block: 0;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 110px; /* Distance from the top of the parent */
}
