$color-primary-400: #1557bf;
$color-primary-600: #114393;
$color-primary-800: #081f45;
$color-primary-900: #05152e;
$color-secondary-200: #fc990e;
$color-secondary-400: #cf7e0c;
$color-error-text: #e02e06;
$color-grey-100: #f9fbff;
$color-grey-200: #cad0db;
$color-grey-300: #b2bbcb;
$color-grey-600: #4f5b70;

.dashboard__container {
	width: 100%;
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard__nav {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	padding-left: 0;

	nav {
		width: 100%;
	}

	li {
		padding: 1rem 55px;
		margin: 0.5rem;
		color: $color-grey-600;
		font-weight: 600;
	}
}

.sidenav_link {
	cursor: pointer;
}

.admin__container {
	padding: 4rem;
	width: 100%;

	h1 {
		font-size: 2rem;
	}

	margin-bottom: 100rem;
}

.user__profile {
	margin-bottom: 100rem;
	padding: 0 2rem;

	button {
		min-width: 210px;
		padding: 1rem 2rem;
		margin-top: 3rem;
		margin-right: 2rem;
		cursor: pointer;
		border-radius: 4px;
		font-size: 1.1rem;
		background-color: $color-primary-600;
		color: white;

		&:hover {
			background-color: $color-primary-400;
		}
	}
}

.admin__card {
	border: 1px solid lightblue;
	box-shadow: 4px 4px 12px rgb(201, 203, 204);
	border-radius: 1rem;
	margin: 1rem 0.5rem;
	padding: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	h2 {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
}
.admin__card__inner_flex,
.admin__card__inner_controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.user_layout__container {
	display: grid;
	width: 100%;
	grid-template-columns: 300px 1fr;
	min-height: 100vh;
	padding-top: 86px; // <-- main nav padding
}
.user_layout__sidenav {
	background-color: $color-grey-100;
}
.user_layout__sidenav ul {
	position: fixed;
	top: 86px;
	left: 0;
}

.auth__container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.auth_form__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: min-content;

	h1 {
		margin-bottom: 1.5rem;
		font-size: 2rem;
		font-weight: 600;
	}
}

.auth_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 360px;

	label {
		margin-bottom: 0.5rem;
	}

	input {
		width: 100%;
		max-width: 360px;
		padding: 1rem;
		border-radius: 6px;
		margin-bottom: 1rem;
		border: 1px solid $color-primary-400;
		font-size: 1rem;

		&:focus {
			outline-color: $color-primary-400;
		}
	}
}
.checkbox_row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 100%;

	.checkbox_remember {
		display: flex;
		justify-content: flex-start;
		cursor: pointer;

		label {
			margin-left: 0.5rem;
			cursor: pointer;
		}

		input {
			width: 18px;
			height: 18px;
			margin: 3px 3px 0 0;
			accent-color: $color-primary-400;
			cursor: pointer;
		}
	}

	.checkbox_forgot {
		&:hover {
			color: $color-primary-400;
			text-decoration: underline;
		}
	}
}
.auth_form__submit {
	padding: 1rem 2rem;
	font-size: 1.2rem;
	margin-bottom: 2rem;
	width: 100%;
	color: white;
	background-color: $color-primary-400;
	border-radius: 6px;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
	&:disabled {
		opacity: 0.8;
		background-color: lightgrey;
		pointer-events: none;
		cursor: progress;
		animation: skeleton-loading 1s linear infinite alternate;
	}
}
.login_register__toggle {
	font-weight: 600;
	font-size: 1.1rem;
	text-align: center;
	width: 100%;

	a {
		color: $color-primary-400;

		&:hover {
			text-decoration: underline;
			color: $color-secondary-400;
		}
	}
}
._err {
	color: $color-error-text;
	border-color: $color-error-text !important;
	outline-color: $color-error-text !important;
}
.skeleton_input {
	background-color: rgb(242, 242, 242);
	width: 360px;
	height: 52px;
	min-width: 360px;
	min-height: 52px;
	border-radius: 6px;
	margin-bottom: 1rem;
	animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

.edit_post__title_bar {
	padding: 2rem 0 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		font-size: 1.5rem;
		text-transform: uppercase;
		color: $color-primary-800;
		font-weight: 500;
		position: relative;

		&::before {
			width: 80px;
			height: 3px;
			top: -4px;
			left: 0;
			content: '';
			position: absolute;
			background-color: $color-secondary-200;
			border-radius: 6px;
		}
	}
	div {
		button {
			padding: 0.4rem 1rem;
			background-color: $color-secondary-200;
		}
	}
}

.edit_post__container {
	max-width: 1050px;
	padding: 0 6rem;
}
.edit_post__title {
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	border-radius: 6px;
	max-width: 800px;
	outline: 2px solid $color-grey-200;

	input {
		font-size: 1.8rem;
		font-weight: 600;
		width: 100%;
		color: $color-primary-800;
		&:focus-visible {
			outline: none;
		}
	}

	&:focus-within {
		outline-color: $color-primary-400;
	}
}
