$color-inactive: rgb(192, 199, 212);
$color-primary-400: #1557bf;
$color-primary-600: #114393;
$color-primary-700: #0b2a5b;
$color-primary-800: #091221;
$color-secondary-200: #fc990e;
$color-secondary-400: #cf7e0c;
$color-error-text: #e02e06;

html {
	-webkit-text-size-adjust: 100%;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	line-height: 1.5;
	tab-size: 4;
	scroll-behavior: smooth;
	font-size: 16px;
}
body {
	font-family: inherit;
	line-height: inherit;
	margin: 0;
}
h1,
h2,
p,
pre {
	margin: 0;
}
*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: currentColor;
}
h1 {
	font-size: 1.8rem;
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
}
a {
	color: inherit;
	text-decoration: inherit;
}
pre {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		Liberation Mono, Courier New, monospace;
}
.layout__header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 4rem;
	width: 100%;
	height: 100px;
	background: white;
	// background: linear-gradient(
	// 		90deg,
	// 		rgba(236, 240, 243, 0.4),
	// 		rgba(244, 251, 251, 0.4)
	// 	),
	// 	linear-gradient(
	// 		180deg,
	// 		rgba(244, 251, 251, 0.5),
	// 		rgba(244, 251, 251, 0)
	// 	);
	backdrop-filter: blur(8px);
}
.layout__header-logo {
	h1 {
		font-size: 1.6rem;
		text-transform: uppercase;
	}
}
.layout__header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

	li {
		margin-inline: 1rem;
		font-size: 1.2rem;
		font-weight: 5 00;

		&:hover {
			color: $color-secondary-400;
		}
	}
}

.tiptap {
	min-height: 60vh;
	border: 2px solid $color-inactive;
	border-radius: 6px;
	padding: 1rem;

	&:focus {
		outline-color: $color-primary-600;
	}
}
